a {
  text-decoration: none;
  color: blue;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.is-active {
  text-decoration: underline;
  font-weight: bold;
}

section {
  border: 1px solid black;
  border-radius: 5px;
}

.main-nav {
  max-width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

.section-title {
  margin-bottom: 10px;
}
.section-shops {
  text-align: center;
  padding: 20px;
  position: sticky;
  top: 10px;
  max-height: calc(100vh - 40px);
  overflow-y: auto;
  padding: 20px;
  background-color: #f9f9f9;
}

.section-shops::-webkit-scrollbar {
  width: 5px;
}
.section-shops::-webkit-scrollbar-thumb {
  background: #9cc8a6;
  border-radius: 10px;
}

.list-shops > li:not(:last-of-type) {
  margin-bottom: 10px;
}

.shop-btn {
  width: 180px;
  min-height: 40px;
  border-radius: 5px;
}

.shop-btn,
.add-btn {
  cursor: pointer;
  border: none;
  background-color: #9cc8a6;
}

.shop-btn,
.add-btn {
  transition:
    background-color 200ms linear,
    transform 200ms ease,
    box-shadow 200ms ease;
}

.shop-btn:hover,
.add-btn:hover {
  background-color: #9cc8a6;
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.shop-btn:active,
.add-btn:active {
  transform: translateY(0) scale(0.98);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.vl {
  display: inline-block;
  border-left: 3px solid rgba(102, 99, 99, 0.69);
  height: 30px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
  margin: 10px auto;
  align-items: start;
}

.section-menu {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

.list-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 20px;
}

.section-shops {
  /* height: 100vh; */
  height: calc(100vh - 80px) ж;
}

.card {
  max-width: 100%;
  min-height: 100px;
  padding: 15px;
  border: 1px solid green;
  border-radius: 5px;
}

.image-card {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}

.card-title {
  margin-bottom: 10px;
}

.add-btn {
  display: block;
  margin-left: auto;
  border-radius: 10px;
  padding: 5px 20px;
}

/* cart css */

.form-order {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-customer-info {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  border-radius: 5px;
  padding: 30px;
}

.form-customer-info > label {
  margin-bottom: 5px;
}

.form-customer-info > input:not(:last-child) {
  margin-bottom: 20px;
}

.form-orders-info {
  outline: 1px solid red;
}
